.footer {
  padding: 40px 0;
  font: 14pt "Space Grotesk";
  color: var(--subtext);
  font-size: 1rem;
  line-height: 150%;
}

.footer__inner {
  width: 100%;
  text-align: center;
}

.footer a {
  /* don't highlight links in the footer */
  color: inherit;
}