.footer {
  padding: 40px 0;
  font-family: "Space Grotesk";
  color: var(--subtext);
}

.footer__inner {
  width: 100%;
  text-align: center;
  line-height: 150%;
}

.footer a {
  /* don't highlight links in the footer */
  color: inherit;
}