.header {
  display: flex;
  position: sticky;
  top: 0;
  padding-top: 20px;
  font-family: "Space Grotesk";
  background: var(--background);
  flex-direction: column;
  z-index: 99;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--accent) 0 2px, transparent 0 10px);
  display: block;
  width: 100%;
  right: 10px;
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  background: var(--accent);
  font-weight: 600;
  color: var(--background);
  padding: 8px 10px 8px 12px;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

@media print {
  .header {
    display: none;
  }
}