.header {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  padding-top: 20px;

  background: var(--background);
  font: 500 14pt "Space Grotesk";
  z-index: 99;
}

.header__inner {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(to right, var(--accent) 0 2px, transparent 0 10px);
  width: 100%;
}

.header__logo a {
  text-decoration: none;
}

.logo {
  background: var(--accent);
  color: var(--background);
  font-weight: 600;

  padding: 8px 10px 8px 12px;

  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

@media print {
  .header {
    display: none;
  }
}