html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 20px 0;
  scroll-margin-top: 150px;

  @media(max-width: 684px) {
    scroll-margin-top: 80px !important;
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 20px;
}

img.left {
  margin-right: auto;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

img.right {
  margin-left: auto;
}

figure.left {
  margin-right: auto;
}

figure.center {
  margin-left: auto;
  margin-right: auto;
}

figure.right {
  margin-left: auto;
}

figure figcaption.left {
  text-align: left;
}

figure figcaption.center {
  text-align: center;
}

figure figcaption.right {
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid color-mix(in srgb, var(--accent) 10%, transparent);
}

.container.full,
.container.center {
  border: none;
  margin: 0 auto;
}

.container.full {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.__h_video {
  padding-bottom: 58.23% !important;
  overflow: visible !important;
}

iframe[src*="youtube.com"] {
  border: 8px solid var(--accent) !important;
  padding: 8px !important;
}

@media (max-width: 684px) {
  body {
    font-size: 1rem;
  }

  .container {
    padding: 0px 20px 20px 20px;
  }

  ul,
  ol {
    margin-left: 20px;
  }
}

@media print {
  .container {
    display: initial;
  }

  .content {
    display: initial;
  }
}