{{ $currentPageUrl := .RelPermalink | relLangURL }}
<nav class="navigation-menu">
  <ul class="navigation-menu__inner menu--desktop">
    {{ if or $.Site.Params.showMenuItems ( gt .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li>
            <!-- Only link to pages that are not the current page -->
            {{ if eq (.URL | relLangURL) $currentPageUrl }}
              <em>{{ .Name }}</em>
            {{ else }}
              <a href="{{ .URL }}"
                {{- if or .Params.NewTab (strings.HasPrefix .URL "http") -}}
                  target="_blank"
                {{- end -}}
                {{- if strings.HasPrefix .URL "http" -}}
                  rel="me"
                {{- end -}}>{{ .Name }}</a>
            {{ end }}
          </li>
        {{ end }}
      {{ end }}

      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <!-- put socials menu to the right -->
        <div class="spacer"></div>

        <li><ul class="menu">
          <li class="menu__trigger" tabindex="0">{{ $.Site.Params.menuMore }}&nbsp;</li>
          <li><ul class="menu__dropdown">
            {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
              {{ if not .HasChildren }}
                <li>
                  <!-- Only link to pages that are not the current page -->
                  {{ if eq (.URL | relLangURL) $currentPageUrl }}
                    <em>{{ .Name }}</em>
                  {{ else }}
                    <a href="{{ .URL }}"
                      {{- if or .Params.NewTab (strings.HasPrefix .URL "http") -}}
                        target="_blank"
                      {{- end -}}
                      {{- if strings.HasPrefix .URL "http" -}}
                        rel="me"
                      {{- end -}}>{{ .Name }}</a>
                  {{ end }}
                </li>
              {{ end }}
            {{ end }}
          </ul></li>
        </ul></li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
