{{ $currentPage := . }}
<nav class="navigation-menu">
  <ul class="navigation-menu__inner menu--desktop">
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ if not .HasChildren }}
          {{ $menu_item_url := .URL | relLangURL }}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
          
          {{ if eq $menu_item_url $page_url }}
            <li><em>{{ .Name }}</em></li>
          {{ else }}
            <li><a href="{{ .URL }}" {{ if or .Params.NewTab (strings.HasPrefix .URL "http") -}} target="_blank" rel="me" {{- end }}>{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <!-- put socials menu to the right -->
        <div class="filler"></div>
        <li>
          <ul class="menu">
            <li class="menu__trigger">&nbsp;{{ $.Site.Params.menuMore }}</li>
            <li>
              <ul class="menu__dropdown">
                {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
                  {{ if not .HasChildren }}
                    {{ $menu_item_url := .URL | relLangURL }}
                    {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                    
                    {{ if eq $menu_item_url $page_url }}
                      <li><em>{{ .Name }}</em></li>
                    {{ else }}
                      <li><a href="{{ .URL }}" {{ if or .Params.NewTab (strings.HasPrefix .URL "http") -}} target="_blank" rel="me" {{- end }}>{{ .Name }}</a></li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </ul>
            </li>
          </ul>
        </li>
      {{ end }}
    {{ else }}
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          {{ $menu_item_url := .URL | relLangURL }}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
          
          {{ if eq $menu_item_url $page_url }}
            <li><em>{{ .Name }}</em></li>
          {{ else }}
            <li><a href="{{ .URL }}" {{ if or .Params.NewTab (strings.HasPrefix .URL "http") -}} target="_blank" rel="me" {{- end }}>{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>
